body {
    margin: 0;
    background: black;
    overflow: hidden;
}

.navmemo{
   
   display: flex;
   padding: 13px 37px 14px 47px;
   justify-content: flex-end;
   align-items: center;
   flex-shrink: 0;
   border-radius: 40px;
   background-color: blueviolet;
   width: 100%;
   height: 5%;
   text-decoration-color:blueviolet ;
   margin-top: 7%;
   
   
}
.memul{
   display: flex;
   width: 199px;
   height: 44px;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   
   
}
.memora{
   color: blueviolet;
   border-block-start-style: none;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   text-align: left;
   
}
.contememo{
   width: 10%;
   height: 1%;
   flex-shrink: 0;
   margin-left: 7%;
   
   

}



 
 #game {
    height: 100vh;
    max-height: 700px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
 }
 
 #stats {
    color: white;
    position: absolute;
    padding: 1rem;
    text-align: center;
    width: calc(100% - 2rem);
    font-size: 3rem;
 }
 
 .card {
    width: 100px;
    height: 140px;
    margin: 1rem;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
 }
 
 .card.active {
    transform: rotateY(180deg);
 }
 
 .card div {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    pointer-events: none;
 }
 
 .card .face {
    background: #05d1fe;
    transform: rotateY( 180deg );
    color: black;
    font-size: 6rem;
 }
 
 .card .back {
    border: 3px solid #05d1fe;
    background: url(img/back.png) center / contain no-repeat;
 }