*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.encabezadoPrincipal{
    color:rgb(0, 0, 0) ;
    text-align: center;
    font-family:oswald;    
}




.imagennegra{
    
    padding: 20px;
    border-radius: 40px;
    width: 217,173px;
    height: 208,492px;
    flex-shrink: 0;
}
.boton{
    border-radius: 20px;
    background: #ffffff;
    width: 200px;
    height: 75px;
    flex-shrink: 0;
}

.navBar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 89px;

}
.listaNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    
    
}
.liStyle{
    list-style:none;
    font-size: 30px;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
main{
    background-image:url(img/datosperimg.jpg);
    height: 1400px;
    background-repeat: no-repeat;
    width: 100%;
    

}
footer{
    height: 50px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
}
.contenedorParrafo{
    width: 700px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 10%;
    background: linear-gradient(115deg, #8D8C8C 13.05%, #8D8C8C 13.06%, rgba(240, 240, 240, 0.00) 131.51%);
    margin-left: 70px;
    
       
}
.contenido{
    width: 100%;
    background-color: rgb(227, 177, 177);
    height: 100%;
}

.main2{
    background-image: url(img/experimg.jpg);
    height: 1400px;
    background-repeat: no-repeat;
    width: 100%;

}
.main3{
    background-image:url(img/estudioimgg.jpg);
    height: 1400px;
    background-repeat: no-repeat;
    width: 100%;


}
.main4{
    background-image:url(img/compeimg.jpg);
    height: 1040px;
    background-repeat: no-repeat;
    width: 1920px;

}
